body{background-color: #1b262c;}
hr{
border-style: none;
border-top-style: dotted;
border-color: white;
border-width: 5px;;
width: 20%;;
}
.hr1:hover{
  border-color: red;
}
.hr2:hover{
  border-color: green;
}
.hr3:hover{
  border-color: blue;
}
h1,h2,h3,h4,h5,h6,ul,ol,table,form{
  color: #eeeeee;
}
img:hover{
  background-color: white;
  border-radius: 25%;
}
.s:hover{
  color: red;
}
.s1:hover{color: green;}
#c:hover{
  color: blue;
}
#c1:hover{color: yellow;}
